services:
  db:
    # Placeholder, actual DB chosen in override
    networks:
      default:
        aliases:
          - db

  app:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    healthcheck:
      test: curl --fail http://localhost:8080/health || exit 1
      interval: 2s
      timeout: 5s
      retries: 3
      start_period: 5s
    env_file:
      - ../.env
    ports:
      - "8080:8080"
    depends_on:
      db:
        condition: service_healthy
  web_server:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile-nginx
    ports:
      - "80:80"
    depends_on:
      app:
        condition: service_healthy

networks:
  default:
    name: mynet