services:
  db:
    # Placeholder, actual DB chosen in override
    networks:
      default:
        aliases:
          - db

  app:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile
    env_file:
      - ../.env
    ports:
      - "8080:8080"
    depends_on:
      - db
  web_server:
    build:
      context: ..
      dockerfile: ./docker/Dockerfile-nginx
    ports:
      - "80:80"
    depends_on:
      - app

networks:
  default:
    name: mynet